* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --black: #0b0c10;
    --dark-gray: #1f2833;
    --light-gray: #c5c6c7;
    --blue: #66fcf1;
    --dirty-blue: #45a29e;
}

body {
    color: var(--dirty-blue);
    font-family: Arial, Helvetica, sans-serif;
}

header {
    padding: 20px 35px;
    background-color: var(--black);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 999;
}

header h1{
    font-weight: bold;
    font-size: 36px;
    color: var(--blue);
    margin: 0;
}

header a {
    text-decoration: none;
    color: var(--blue);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.5vw;
}

header nav ul li a:hover {
    background: var(--blue);
    color: var(--black);
    border-radius: 10px;
}

.hero {
    background-image: url("../images/hero.jpg");
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    height: auto;
    text-align: center;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
}

.page-title {
    color: var(--blue);
    display: inline-block;
    border-bottom: 4px solid var(--dark-gray);
    padding: 15px 80px 0 80px;
    font-weight: normal;
    font-size: 40px;
    font-style: italic;
}

.section-title {
    font-size: 40px;
    border-bottom: 3px solid var(--dark-gray);
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto 30px auto;
    width: 50%;
}

.flex-row {
    display: flex;
}

.job {
    padding: 20px;
    margin-left: 20px;
}

.job h3 {
    font-size: 30px;
    border-bottom: 2px solid var(--dark-gray);
    margin-bottom: 15px;
    width: 40%;
}

.job h4 {
    font-size: 20px;
    font-weight: bolder;
}

.job h5 {
    font-size: 18px;
    padding-bottom: 10px;
    font-weight: lighter;
}

.job ul {
    font-size: 17px;
}

.school {
    padding: 20px;
    margin-left: 20px;
}

.school h3 {
    font-size: 30px;
    border-bottom: 2px solid var(--dark-gray);
    margin-bottom: 15px;
    width: 40%;
}

.school h4 {
    font-size: 20px;
    font-weight: bolder;
}

.school h5 {
    font-size: 18px;
    padding-bottom: 10px;
    font-weight: lighter;
}